/* ==========================================================================
 Style for PDF docs only
 ========================================================================== */

 *{
 	font-family: Arial, Helvetica, sans-serif;
 	font-size: 12px;
 	margin: 0;
 	padding: 0;
 }

 html,body{
 	margin: 0;
 	padding: 0;
 }

 body{
 	margin: 45px 0px !important;
 }

 table {
	border-collapse: collapse;
 }

 tbody tr:nth-child(odd) {
 	background-color: #ccc;
 }

 table, th, td {
 	border: 1px solid black;
 }

 td,th {
 	height: 25px;
 	vertical-align: middle;
 	padding: 0px 5px;
 }

 h1{
 	font-size: 20px !important;
 	font-weight: bold;
 }

 .header{
 	border-bottom: 2px solid #000;
 }

 .text-right{
 	text-align: right !important;
 	display:block;
 }

 .text-left{
 	text-align: left !important;
 	display:block;
 }

.notes_line{
	border-bottom: 1px solid #010C13;
	padding: 10px 0px;
}

 .pull-right{
 	float: right !important;
 	display:block;
 }

 .pull-left{
 	float: left !important;
 	display:block;
 }

 .container:before,
 .container:after {
 	content:"";
 	display:table;
 }
 .container:after {
 	clear:both;
 }
 .container {
 	zoom:1; /* For IE 6/7 (trigger hasLayout) */
 }

 .footer{
 	position: absolute;
 	bottom: 0;
 	background: #ccc;
 	padding: 0px 10px;
 	border:1px solid #000;
 }

 .green-estimate{
 	color: green !important;
 	font-weight: bold !important;
 }

 .invoiced, tr.invoiced td, tr.invoiced td a{
 	color: rgb(206, 3, 203) !important;
 	font-weight: bold !important;
 }

 .paid, tr.paid td, tr.paid td a{
 	color: #0398BD  !important;
 	font-weight: bold !important;
 }

 .wip, tr.wip td, tr.wip td a{
 	color: #C16601 !important;
 	font-weight: bold !important;
 }

 .wip_b, tr.wip_b td, tr.wip_b td a{
 	color: #000 !important;
 }

 .hide{
 	display: none;
 }

 .hidden{
 	display: none;
 	visibility: hidden;
 }

.editor_body{
 	margin: -20px 10px 20px;
 	position: relative;

 	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

.editor_body p{
	margin-bottom: 0;

 	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    font-size: 12px;
}

.editor_body strong{
	font-weight: bold !important; 
}

.editor_body .green-estimate label,.editor_body .green-estimate{
	color: green !important;
	border-color: green !important; 
	font-weight: bold !important; 
}

.editor_body .green-estimate .form-control{
	border-color: green !important;	
	color: green !important; 
	font-weight: bold;
}

.editor_body .green-estimate .input-group-addon{
	color: green !important;
	border-color: #555 !important;
	background: #B0EDB0; 
	font-weight: bold;
}

.editor_body td.green-estimate {
	font-weight: bold;
	color: green !important; 
}

.editor_body table{
	width: 100%;
}

.editor_body table, .editor_body table tr, .editor_body table tr td{
	border:0;
	padding: 0;
	margin: 0;
	background: #fff;
}

.editor_body table th{
	font-size:12px;
	margin-bottom: 10px;
	border-bottom:1px solid #000 !important;
	text-align: left;
	padding-left: 5px;
	font-weight: bold;
}

.editor_body table td{
	padding: 5px;
}

.editor_body .clearfix:before,.editor_body .clearfix:after{
  content: " ";
 /* display: table;*/
}

.editor_body .clearfix:after,.editor_body .container:after{
  clear: both;
}

.editor_body img{
	margin-bottom: 10px;
}

.editor_body .header{
	border:2px solid #000;
	margin-bottom: 10px;
}

.editor_body .totals{
	border:2px solid #000;
	margin-bottom: 10px;
	padding: 10px;
	font-size: 18px;	
	background: #DDDDDD;
}

.editor_body .m-left-20{
	margin-right: 20px;
}

.editor_body .m-right-20{
	margin-right: 20px;
}

.editor_body .footer{
	border-top:2px solid #000;
	padding: 10px;
	font-size: 18px;
	position: absolute;
	bottom: 0;
	width: 96%;
}

.editor_body .print_bttn{
	background: #429742;
	color: #fff;
	border-radius: 5px;
	padding: 10px 15px;
	text-decoration: none;
	position: fixed;
	right: 10px;
	top: 10px;
}

.editor_body hr{
	border: none;
	border-top: 1px solid #000;
	margin-bottom: 5px;
	display: block;
	width: 100%;
	height: 1px;
	background: #000;
}

.editor_body fieldset {
  border: none;
}

.editor_body fieldset legend{
	background: #fff;
	width: auto;
	border-bottom: 0;
	margin-bottom: -5;
    font-size: 14px !important;
    font-weight: bold !important;
}

.editor_body .full{
  width: 100%;
  display: block;
}

.editor_body .one-fourth{
  width: 25%;
  float: left;
}

.editor_body .one-third{
  width: 33.33%;
  float: left;
}

.editor_body .one-half{
  width: 50%;
  float: left;
}

.editor_body .two-third{
  width: 66.67%;
  float: left;
}

.editor_body .border-1{
	border: 1px solid #000;
}

.editor_body .border-2{
	border: 2px solid #000;
}

.editor_body .border-left-1{
	border-left: 1px solid #000;
}

.editor_body .border-left-2{
	border-left: 2px solid #000;
}

.editor_body .border-right-1{
	border-right: 1px solid #000;
}

.editor_body .border-right-2{
	border-right: 2px solid #000;
}

.editor_body .mgn-top-10{
	margin-top: 10px;
}

.editor_body .mgn-top-15{
	margin-top: 15px;
}

.editor_body .mgn-top-20{
	margin-top: 20px;
}

.editor_body .mgn-top-25{
	margin-top: 25px;
}

.editor_body .pad-10{
	padding: 10px;
}

.editor_body .mgn-10{
	margin: 10px; 
}

.editor_body .pad-15{
	padding: 15px;
}

.editor_body .mgn-15{
	margin: 15px; 
}

.editor_body .pad-20{
	padding: 20px;
}

.editor_body .mgn-20{
	margin: 20px; 
}

.editor_body .pad-r-10{
	padding-right: 10px;
}

.editor_body .pad-r-5{
	padding-right: 5;
}

.editor_body .pad-l-10{
	padding-left: 10px;
}

.editor_body .mgn-l-5{
	margin-left: 5px;
}

.editor_body .pad-r-10{
	padding-right: 10px;
}

.editor_body .mgn-r-5{
	margin-right: 5px;
}

.editor_body .mgn-b-10{
	margin-bottom: 10px;
}

.editor_body .pdf_highlight_doc_mod {
    color:red;
    background:yellow;

}

#highlight_line{
    height: 24px;
    margin-left: -5px !important;
}

#draggable {
    background: none !important;
    border: none;
    color:red;
    padding: 10px;
    margin-top: 0 !important;
}

#draggable textarea:hover{
    overflow:visible;
}

.c_edit{
	margin-top: 10px !important;
}
.d_edit{
	margin-top: 3px !important;
}

.f_edit{
	margin-top: -5px !important;
}
.g_edit{
	margin-top: 5px !important;
}

.e_edit{
	margin-top: 0px !important;
}

.h_edit{
	margin-top: -10px !important;
}

.i_edit{
	margin-top: -20px !important;
}

.j_edit{
	margin-top: 12px !important;
}

.k_edit{
	margin-top: 7px !important;
}

.l_edit{
	margin-top: 15px !important;
}

.m_edit{
	margin-top: -20px !important;
}

.pad-20{
	padding: 20px;
}

.def_page{
	margin:20px 15px 50px;
}

.def_page table{
	margin: 5px 0px 10px;
}

.def_page table td{
	padding: 0px 5px;
}
.def_page .footer{
	padding: 5px;
}

.job_book_notes .notes_line p span.pull-right{
	float: none !important;
	display: block;
}

.notes_line br{
	display: none;
}

.notes_line br.block{
 	display: block !important;
 	width: 100% !important;
 	height: auto !important;
 	float: none !important;
}

.block{
	display: block !important;
}


.editor_body  .invoices_list_item{
 	font-family: DejaVu Sans, Arial, Helvetica, sans-serif !important;
}

h1.title {
	text-decoration: underline;
	position: relative;
	top: 90px;
	left: 40px;
	margin-bottom: 0px;
}
img.logo {
	position: absolute;
	top: 0px;
	left: 350px;
}
div.body1 {
	border: 1px solid #000000;
	width: 720px;
	margin: 150px 0 0 20px;
	padding: 15px;
}
div.body2 {
	border: 1px solid #000000;
	border-top: none;
	width: 720px;
	height: 480px;
	margin-left: 20px;
	padding: 15px;
}
div.body3 {
	border: 1px solid #000000;
	border-top: none;
	width: 720px;
	margin-left: 20px;
	padding: 15px;
}
span.leave-info {
	font-size: 16px;
	font-weight: bolder;
}
span.leave-info-data {
	font-size: 16px;
	font-weight: normal;
}
span.leave-type {
	font-size: 14px;
	margin: 20px;
}
span.med-cert-info {
	margin-left: 280px;
	font-size: 18px;
	font-style: italic;
}
div.box {
	border: 4px solid #000000;
	width: 30px;
	height: 30px;
	display: block;
	position: relative;
	top: -40px;
	left: 400px;
}
div.box-total {
	border: 4px solid #000000;
	width: 30px;
	height: 30px;
	position: relative;
	top: -60px;
	left: 400px;
}
span.leave-type-right1 {
	position: absolute;
	top: 580px;
	left: 580px;
	font-style: italic;
}
span.leave-type-right2 {
	position: absolute;
	top: 650px;
	left: 580px;
	font-style: italic;
}
span.leave-type-right3 {
	position: absolute;
	top: 770px;
	left: 580px;
	font-style: italic;
}
span.leave-type-right4 {
	position: absolute;
	top: 800px;
	left: 580px;
	font-style: italic;
}
span.leave-type-right5 {
	position: absolute;
	top: 880px;
	left: 580px;
	font-style: italic;
}
span.leave-type-right6 {
	position: absolute;
	top: 1000px;
	left: 580px;
	font-style: italic;
}
span.leave-type-right7 {
	position: absolute;
	top: 1030px;
	left: 580px;
	font-style: italic;
}
span.med-cert-attached {
	position: absolute;
	top: 670px;
	left: 550px;
}
span.approval {
	font-size: 16px;
	font-weight: bolder;
}
span.approval_name {
	font-size: 16px;
	font-weight: normal;
}